script(src="/assets/vendor/jquery/dist/jquery.min.js")
script(src="/assets/vendor/poppers/popper.min.js")
script(src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js")
script(src="/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")
script(src="/assets/vendor/chart.js/dist/Chart.min.js")
script(src="/assets/vendor/clipboard/dist/clipboard.min.js")
script(src="/assets/vendor/headroom.js/dist/headroom.min.js")
//script(src="/assets/vendor/holderjs/holder.min.js")
script(src="/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js")
script(src="/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js")
//script(src="/assets/vendor/onscreen/dist/on-screen.umd.min.js")
//script(src="/assets/vendor/prismjs/prism.js")
//script(src="/assets/js/argon.js")
script(src="/assets/vendor/wnumb/wNumb.min.js") 
script(src="/assets/vendor/nouislider/distribute/nouislider.min.js")
script(src="/assets/js/app.js")