.content.contenido-principal {
    padding: 15px;
}
a.add-proyect {
    background: #5e72e4;
    color: white;
    padding: 5px;
    text-align: center;
    margin-bottom: 30px;
}
.header{
    padding-top: 88px;
}
.form-control {
    font-size: .875rem;
    min-height: 50px;
}
.card-body{
    transition: 0.3s all;
}
.task-dont-show{
    transition: 0.3s all;
    height: 0;
    overflow: hidden;
    padding: 0 !important;
}