extends ../layout

block contenido
    .header.bg-primary.mb-5
        
    .content.contenido-principal.container
        .row.justify-content-center.p5
            .col-md-6
                h2.display-1.text-center 404
                h3.display-4.text-center Hubo un error aquí 
       
