extends ../layout
include ../mixins/formulario
block contenido
    .header.bg-primary.mb-5
      
    .content.contenido-principal.container
        if errors
           .errors-container
                each val in errors
                    .alert.alert-danger.alert-dismissible.fade.show(role="alert")
                        span.alert-icon
                            i.fa.fa-times-circle
                        span.alert-text
                            strong Alerta |  #{val.texto}
                        button.close(type="button", data-dismiss="alert", aria-label="Close")
                            span(aria-hidden="true") ×
        if successUpdate
           
            .modal.fade#modal-success(tabindex="-1", role="dialog", aria-labelledby="modal-notification", aria-hidden="true")
                .modal-dialog.modal-danger.modal-dialog-centered.modal-(role="document")
                    .modal-content.bg-gradient-success
                        .modal-header
                            h6.modal-title#modal-title-notification ¡Exito!
                           
                           
                        .modal-body
                            .py-3.text-center
                                i.ni.ni-check-bold.ni-3x
                                h4.heading.mt-4 El proyecto ha sido actualizado
                                p Haz actualizado el proyecto correctamente.
                        .modal-footer
                            a.btn.btn-white(href="/dashboard") Aceptar
        .row.justify-content-center
            if !successUpdate
                +crearProyecto(proyecto)
        .container.container-back.pd-6
            a(href="/dashboard" class="regresar")
                i.fa.fa-chevron-left
                span  Regresar

      
            
                    
                