extends ../layout
include ../mixins/formulario
block contenido
    .header.bg-primary.mb-5
      
    .content.contenido-principal.container
        if errors
           .errors-container
                each val in errors
                    .alert.alert-danger.alert-dismissible.fade.show(role="alert")
                        span.alert-icon
                            i.fa.fa-times-circle
                        span.alert-text
                            strong Alerta |  #{val.texto}
                        button.close(type="button", data-dismiss="alert", aria-label="Close")
                            span(aria-hidden="true") ×
        if success
            .success-container
                each val in success
                    .alert.alert-success.alert-dismissible.fade.show(role="alert")
                        span.alert-icon
                            i.fa.fa-check-circle
                        span.alert-text
                            strong EXITO |  #{val.texto}
                        button.close(type="button", data-dismiss="alert", aria-label="Close")
                            span(aria-hidden="true") ×
        
        .row.justify-content-center
            +crearProyecto(proyecto)
        .container.container-back.pd-6
            a(href="/" class="regresar")
                i.fa.fa-chevron-left
                span  Regresar

        script(type="text/javascript").
            console.log('hola')
                    
                